.header{
    box-shadow: inset -3px -3px 7px #ffffffb0,  
         inset 3px 3px 5px #e2e2e2; 
    width: 95%;
    height: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 2rem;
}

.college-logo{
    width: 40%;
    justify-self: start;
    margin-left: 10%;
    mix-blend-mode:difference;
}

.logo{
    width: 50%;
    filter: brightness(0.4);
}

.mu-logo{
    width: 20%;
    justify-self: end;
    margin-right: 10%;
}

.question{
    margin-top: 5%;
    text-align: center;
    font-size: 6rem;
    font-family: 'Urbanist';
    font-weight: 800;
    background: linear-gradient(0deg, #fc6e0971 0%, #fc6f09 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}